#content
{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 30px;
    font-size: 1.2em;
    color: DarkSlateGray;
}

#footer
{
    margin: 15px;
    font-size: 0.8em;
}

#banner
{
    background-color: Gold;
    font-size: x-large;
    color: DarkSlateGray;
    text-align: center;
    padding: 30px;
}

#navbar
{
    background-color: Gold;
    padding: 15px;
}

#navbar ul
{
    margin: 0px;
    padding: 5px;
    font-size: large;
    color: DarkSlateGray;
    text-align: center;
}
#navbar li
{
    list-style-type: none;
    display: inline;
}
#navbar li a
{
    text-decoration: none;
    padding: 7px 10px;
    color: DarkSlateGray;
}
#navbar li a:link
{
    color: DarkSlateGray;
}
#navbar li a:visited
{
    color: DarkSlateGray;
}
#navbar li a:hover
{
    font-weight: bold;
}