<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Lucas Thompson, Cory Brown">
    <meta name="keywords" content="Online Judge, coding, challenge, programming">
    <meta name="description" content="University of Southern Mississippi Online Judge prototype">
    <meta charset="iso-8859-1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>USM Online Judge</title>
</head>

<body>
<div class="main">
    <div class="page">
        <div id="header">
            {% include 'header.html' %}
        </div>
        <!-- header -->

        {% block content %}
        {% endblock %}

        <div class="footer">
            {% include 'footer.html' %}
        </div>
        <!-- footer -->
    </div>
    <!-- page -->
</div>
<!-- main -->
</body>
</html>