<html>
    <head>
        <title>USM Online Judge</title>
    </head>

    <body>

        <div id="header">
            {% include 'header.html' %}
            <br>
            <hr>
        </div>

        <div id="content" style="text-align:center">
            <br>
                <div id="page_description">
                    <p>
                    {% if text %}
                        {{text}}
                    {% endif %}
                    </p>
                </div>
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <br>
            <hr>
            {% include 'footer.html' %}
        </div>
    </body>
</html>