{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="content-in">

        <!-- PICKING THE CSS FOR TWO PANEL OR ONE PANEL DEPENDING ON IF leftPanelContent WAS SUPPLIED -->
        {% if leftPanelContent %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-two-containers.css') }}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-one-container.css') }}">
        {% endif %}

        {% if leftPanelContent %}
        <div class="left-panel">
            <h2>Choose</h2>

            <div class="left-content">
                {% if leftPanelContent %}
                <ul>
                    {% for l in leftPanelContent %}
                    <li><a href=" {{ url_for('display_exercise', ex_id=l.id)}} "> {{l.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!-- left content -->
        </div>
        <!-- left panel -->
        {% endif %}

        <div class="right-panel">
            <div class="right-panel-in">
                <div class="row">
                    <h2 class="title"><span>
                {% if text %}
                    {{ text | safe }}
                {% endif %}
            </span></h2>

                    <div class="row2">
                        Choose an exercise to the left
                    </div>
                </div>
            </div>
            <!-- right panel in-->
        </div>
        <!-- right panel -->
    </div>
    <!-- content in-->
</div> <!-- content -->


{% endblock %}