{% extends "base.html" %}

{% block content %}

    {{exercise.title}}<br>

    <div id="">
    {{ exercise.content | safe }}
    </div>

    <style>
        #file { visibility: hidden; }
        .CodeMirror { width: 75%; display: block; margin-left: auto; margin-right: auto; text-align: left; }
        .codemirror-ui-button-frame { width: 75%; display: block; margin-left: auto; margin-right: auto;}
        #upload { align: center; }
    </style>

    <div id="upload">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <br>
            <br>
            {% with data=data %}
                {% include "editor.html" %}
            {% endwith %}
            <br>
            <input type="submit" id="submit" name="submit" value="Submit Code">
        </form>
    </div>
{% endblock %}