<header>
    <h2>
        <div id="site_links" style="float:left">
            <a href="{{ url_for('index') }}">Home</a>  |
            <a href="{{ url_for('exercises') }}">Exercises</a>
        </div>

        <div  id="user_links" style="float:right">
            <form style="display: inline;" action="{{url_for('search')}}" method="post" name="search">
                {{g.search_form.search(size=20)}}
                <input type="submit" value="User Search">
            </form>
            <!--Profile/Statistics/Logout only displayed if user is logged in.-->
            {% if current_user.is_authenticated() == True %}
                <a href="{{ url_for('profile') }}">Profile</a>  |
                <a href="{{ url_for('statistics')}}">Statistics</a>  |
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <!--Login displayed if user is logged out-->
            {% if current_user.is_authenticated() == False %}
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}

        </div>
    </h2>
</header>