{% extends "base.html" %}

{% block content %}

    {% with statistics=statistics %}
        {% include "display_statistics.html" %}
    {% endwith %}

    <!--
    <div id="stat_table">
        <p>Values displayed are from your last attempt at the exercise.</p>
        <br>
        <table>
            <tr>
                <td>Exercise Number</td>
                <td>Memory Usage</td>
                <td>Time Usage</td>
                <td>Number of Attempts</td>
                <td>Last Attempt</td>
                <td>Last Success</td>
            </tr>
        {% if statistics %}
            {% for s in statistics %}
            <tr>
                <td>{{s.exercise_id}}</td>
                <td>{{s.memory}}</td>
                <td>{{s.time}}</td>
                <td>{{s.attempts}}</td>
                <td>{{s.passed}}</td>

                {% set filename = s.exercise_id %}
                {% set filename = filename ~ "-" %}
                {% set filename = filename ~ user_id %}
                {% set filename = filename ~ ".cpp" %}

                <td><a href="{{url_for('source_code', filename=filename)}}" target="_blank">Exercise {{s.exercise_id}}</a></td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
    -->


{% endblock %}